# Pandas Documentation on Merge, Join and Concatenation

In this notebook, you will work through the Pandas documentation on merging, joining and concatenation.

## Imports

In [1]:
import numpy as np
import pandas as pd

## Merge, join and concatenation

In this notebook, you are going to learn how to use Pandas by typing the code from the Pandas documentation into this notebook.

* Go to the Pandas documentation on [merge, join, and concatenate](http://pandas.pydata.org/pandas-docs/stable/merging.html#merge-join-and-concatenate).
* Type all of the code from that section of the documentation into this notebook and get it working.
* **To learn this API well, you must type the code rather than copy and pasting it**.
* Create a new cell in this section for each `In[]` prompt in the documentation.
* Ignore the cells in the **Grading** section below.
* No Markdown comments are needed.
* Skip the following sub-sections:
  - More concatenating with group keys
  - Joining a single Index to a Multi-index
  - Joining with two multi-indexes
  - Joining multiple DataFrame or Panel objects

## Grading

In [2]:
# Concatenating objects
df1 = pd.DataFrame({ 'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']},
                     index=[0, 1, 2, 3])

In [3]:
df2 = pd.DataFrame({ 'A': ['A4', 'A5', 'A6', 'A7'],
                     'B': ['B4', 'B5', 'B6', 'B7'],
                     'C': ['C4', 'C5', 'C6', 'C7'],
                     'D': ['D4', 'D5', 'D6', 'D7']},
                      index=[4, 5, 6, 7])

In [4]:
df3 = pd.DataFrame({ 'A': ['A8', 'A9', 'A10', 'A11'],
                     'B': ['B8', 'B9', 'B10', 'B11'],
                     'C': ['C8', 'C9', 'C10', 'C11'],
                     'D': ['D8', 'D9', 'D10', 'D11']},
                     index=[8, 9, 10, 11])

In [5]:
frames = [df1, df2, df3]

In [6]:
result = pd.concat(frames)

In [7]:
result = pd.concat(frames, keys=['x', 'y', 'z'])

In [8]:
result.ix['y']

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [9]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

In [10]:
result = pd.concat([df1, df4], axis=1)

In [11]:
result = pd.concat([df1, df4], axis=1, join='inner')

In [12]:
result = pd.concat([df1, df4], axis=1, join_axes=[df1.index])

In [13]:
# Concatenating using append
result = df1.append(df2)

In [14]:
result = df1.append(df4)

In [15]:
result = df1.append([df2, df3])

In [16]:
# Ignoring indexes on the concatenation axis
result = pd.concat([df1, df4], ignore_index=True)

In [17]:
result = df1.append(df4, ignore_index=True)

In [18]:
# Concatenating with mixed ndims
s1 = pd.Series(['X0', 'X1', 'X2', 'X3'], name='X')

In [19]:
result = pd.concat([df1, s1], axis=1)

In [20]:
s2 = pd.Series(['_0', '_1', '_2', '_3'])

In [21]:
result = pd.concat([df1, s2, s2, s2], axis=1)