# Basic Pandas Homework

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## DatFrame and Series

Create a `DataFrame` named `df1` with the following properties:

* 10 rows.
* An `age` column with random ages between 0 and 100 (inclusive).
* A `cell_phone` column of randomly sampled categorical values `ios`, `android`, `windows`.
* A `gender` column of randomly sampled categorical values `f` and `m`.
* The order of columns should be `gender`, `age`, `cell_phone`.
* A row index consisting of lowercase alphabetical letters.

Use the function defined above to create this `DataFrame`.

In [2]:
# YOUR CODE HERE
index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


def getPhones():
    return [np.random.choice(['ios', 'android', 'windows']) for i in index]

def getGenders():
    return [np.random.choice(['f', 'm']) for i in index]

def getAges():
    return [np.random.random_integers(0, 100) for i in index]

data = {
        'gender' : pd.Series(getGenders(), index=index, dtype='category'),
        'age' : pd.Series(getAges(), index=index),
        'cell_phone' : pd.Series(getPhones(), index=index, dtype='category')
    }

def getFrame():
    return pd.DataFrame(data, columns=['gender','age','cell_phone'])

df1 = getFrame()

In [3]:
df1

  gender  age cell_phone
a      f   75        ios
b      m   21        ios
c      m   23        ios
d      m   56    windows
e      m   10    windows
f      m    4    windows
g      f   67    android
h      m   11    android
i      m    9        ios
j      m   88    android

Make sure your code passes the following `assert` statements:

In [4]:
assert 'a' in df1.index
assert 'j' in df1.index
assert 'age' in df1.columns
assert 'cell_phone' in df1.columns
assert 'gender' in df1.columns
assert df1.age.dtype.name=='int64'
assert df1.cell_phone.dtype.name=='category'
assert df1.gender.dtype.name=='category'
assert list(df1.columns)==['gender','age','cell_phone']

Create a new `DataFrame`, named `df2` with the following transformations:

* Extract rows `a` through `g`
* Extract the `age` and `gender` column, but put `age` first.
* Reverse the rows to they run `g` to `a`.
* Add a new column named `income` that is a random list of dollars between [0,10000]
* Add a new column named `expenses` that is a random list of dollars between [0,10000]
* Create a new column named `profit` that is computed using the `income` and `expenses` columns.

In [5]:
# YOUR CODE HERE
GtoA = index[0:7]
df2 = pd.DataFrame(data, index=GtoA[::-1], columns=df1.columns[1::-1])
df2['income'] = pd.Series([np.random.random_integers(0, 10000) for i in index], index=index, dtype='int64')
df2['expenses'] = pd.Series([np.random.random_integers(0, 10000) for i in index], index=index, dtype='int64')
df2['profit'] = df2['income'] - df2['expenses']

In [6]:
df2

   age gender  income  expenses  profit
g   67      f    6098      3147    2951
f    4      m    9336       200    9136
e   10      m    3137      5057   -1920
d   56      m    4460        93    4367
c   23      m    6136      8544   -2408
b   21      m    9186      2866    6320
a   75      f    5547      3506    2041

Make sure your code passes the following `assert` statements:

In [7]:
assert df2.index[0]=='g'
assert df2.index[-1]=='a'
assert list(df2.columns)==['age','gender','income','expenses','profit']
assert df2.income.dtype.name=='int64'
assert df2.expenses.dtype.name=='int64'
assert df2.expenses.dtype.name=='int64'
assert all(df2.profit+df2.expenses-df2.income==0)

Write a function named `mean_and_std` that takes a `Series` object and returns a new `Series` that contains the mean and standard deviation of the original series.

In [27]:
def mean_and_std(s):
    """Compute the mean and std of series s.
    
    Parameters
    ----------
    s : Series
    
    Returns
    -------
    Series containing the mean and std of s with an index of `mean` and `std`.
    """
    # YOUR CODE HERE
    results = [s.mean(), s.std()]
    return pd.Series(results, index=['mean', 'std'])

Make sure your code passes the following `assert` statements:

In [29]:
assert list(mean_and_std(df2.age).index)==['mean','std']
assert mean_and_std(df2.age)['mean']==df2.age.describe()['mean']
assert mean_and_std(df2.age)['std']==df2.age.describe()['std']

Use the `.apply()` method with `mean_and_std` to compute the mean and standard deviation of only the columns `income`, `expenses` and profit. Save the result in a variable named `stats`.

In [38]:
# YOUR CODE HERE
stats =  df2[['income','expenses','profit']].apply(lambda x: mean_and_std(x))

In [39]:
stats

           income     expenses       profit
mean  6271.428571  3344.714286  2926.714286
std   2293.667213  2907.508654  4180.887773

Make sure your code passes the following `assert` statements:

In [40]:
d = df2[['income','expenses','profit']].describe()
assert 'income' in stats.columns
assert 'expenses' in stats.columns
assert 'profit' in stats.columns
assert stats.ix['mean','income']==d.ix['mean','income']
assert stats.ix['mean','expenses']==d.ix['mean','expenses']
assert stats.ix['mean','profit']==d.ix['mean','profit']
assert stats.ix['std','income']==d.ix['std','income']
assert stats.ix['std','expenses']==d.ix['std','expenses']
assert stats.ix['std','profit']==d.ix['std','profit']