# Exploring the Chinook database with SQL

In this notebook, you will practice using SQL queries with Pandas to explore the [Chinook database](https://chinookdatabase.codeplex.com/) of music.

## Imports

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from pandas.io import sql

In [ ]:
from sqlalchemy import create_engine, inspect

Here is a function for howing table information:

In [ ]:
def table_info(table_name, i):
    """Shwo the column names and types as a Pandas DataFrame."""
    return pd.DataFrame(i.get_columns(table_name))[['name','type']]

In [ ]:
import os
assert os.path.isfile(os.path.join('data', 'Chinook_Sqlite.sqlite'))

## Exploring the database

Create an SqlAlchemy engine for the Chinook database, which is in the file `data/Chinook_Sqlite.sqlite` as save the engine in a variable named `ce`:

In [ ]:
ce = create_engine('sqlite:///data/Chinook_Sqlite.sqlite')

In [ ]:
import sqlalchemy
assert isinstance(ce, sqlalchemy.engine.base.Engine)

Create an inspector for that engine and save it in a variable named `inspector`:

In [ ]:
inspector = inspect(ce)

In [ ]:
assert isinstance(inspector, sqlalchemy.engine.reflection.Inspector)

Use the `inspector` and `table_info` to show the column information of the `Genre` table:

In [ ]:
table_info('Genre', inspector)

Use a SQL `SELECT` statement with `LIMIT` to look at the first 10 rows of the `Genre` table:

In [ ]:
sql.read_sql_query('SELECT * from Genre LIMIT 10', ce)

Use the `inspector` and `table_info` to show the column information of the `Track` table:

In [ ]:
table_info('Track', inspector)

Use a SQL `SELECT` statement with `LIMIT` to look at the first 10 rows of the `Track` table:

In [ ]:
sql.read_sql_query('SELECT * from Track LIMIT 10', ce)

Use the `inspector` and `table_info` to show the column information of the `MediaType` table:

In [ ]:
table_info('MediaType', inspector)

Use a SQL `SELECT` statement with `LIMIT` to look at the first 10 rows of the `MediaType` table:

In [ ]:
sql.read_sql_query('SELECT * from MediaType LIMIT 10', ce)

Write an SQL query to select the `Name`, `Composer` and `UnitPrice` columns from the `Track` table for the rows where the `UnitPrice` is greater than `0.99`:

In [ ]:
sql.read_sql_query("""
SELECT Name, Composer, UnitPrice FROM Track
  WHERE UnitPrice>0.99;
""",ce)

Join the `Track` and `Genre` tables on the `GenreId` columns and compute the average track length in seconds grouped by `Genre.Name`. Sort the results by the track length (`Track.Milliseconds`). Save the result in a variable named `r1`.

In [ ]:
r1 = sql.read_sql_query("""
SELECT Genre.Name, AVG(Track.Milliseconds)/1000 AS Duration
  FROM Track
  JOIN Genre ON Genre.GenreId = Track.GenreId
 GROUP BY Genre.Name
 ORDER BY Duration DESC;
""", ce)

In [ ]:
r1

Create a Seaborn barplot showing the average track duration for each genre:

In [ ]:
sns.barplot(x='Duration', y='Name', data=r1);

Join the `MediaType` and `Track` tables and count how many tracks are released with a given media format. Order by the count of the media type. Save the result in a variable named `r2`.

In [ ]:
r2 = sql.read_sql_query("""
SELECT MediaType.Name, COUNT(*) AS Count
  FROM MediaType
  JOIN Track
    ON Track.MediaTypeId = MediaType.MediaTypeId
 GROUP BY MediaType.Name
 ORDER BY Count DESC;
""", ce)

In [ ]:
r2

Make a bar plot of the media type counts:

In [ ]:
sns.barplot(x='Count', y='Name', data=r2);